# Execution Environment: local, colab, kaggle
NOD_ENV=local

# Target device: cuda, cpu
DEVICE=cuda

# ngrok Auth Token (required for Colab runner tunneling)
NGROK_AUTHTOKEN=

# Custom path to local datasets (if overriding defaults)
# LOCAL_DATA_DIR=
